@font-face {
    font-family: 'Robot Rebels';
    src: url(./extra/Robot\ Rebels.otf);
}

@font-face {
    font-family: 'Fast Hand';
    src: url(./extra/Fast\ Hand.otf);
}

@font-face {
    font-family: 'Yamaka';
    src: url(./extra/Yamaka\ Personal\ Used.otf);
}

@font-face {
    font-family: "Besley", serif;
    src: url(./extra/Besley-VariableFont_wght.ttf);
}

.bg-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.rigo-background{
    min-width: 1500px;
    width: 100%;
    height: 120%;
}

.main-container{
    display: flex;
    flex-direction: row;
    width:  100vw;
    height: 100vh;
}

.container1, .main-container, .music-dropdown-container, .music-dropdown{
    display: flex;
    overflow: hidden;
}

.container1{
    overflow: hidden;
    min-height: fit-content;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 60%;
}

.music-dropdown-container{
    width: 100%;
    flex-direction: column;
}

.apple-music-dropdown,.deezer-dropdown,.soundcloud-dropdown,.youtube-dropdown{
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
}

.bestie-cover{
    max-width: 270px;
    border-radius: 20px;
    margin-top: -51px;
}

.social-media-container{
    height: fit-content;
}

.bestie-texto{
    letter-spacing: 7px;
    color: rgb(32, 31, 31);
    text-shadow: 5px 3px rgb(86, 86, 86);
    height: fit-content;
    width: fit-content;
    opacity: 100%;
    font-family: 'Yamaka';
    font-size: 50px;
    margin-right: -10px;
    margin-bottom: 49px;
}

.presave-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: fit-content;
    border-radius: 20px;
    margin-top: 20vh;
    background-color: rgba(60, 60, 60, 0.568);
    border: 4px solid rgba(129, 129, 129, 0.634);
    transform: scale(1.5);
    transition: box-shadow 0.2s ease-in-out, transform 0.3s ease-in-out, background-color 0.1s ease-in-out, opacity 1s ease-in-out;
}

.presave-container.hidden{
    transform: scale(0);
}

.out-now-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    transform: scale(0);
    background-color: rgba(23, 23, 23, 0.628);
    border: 4px solid rgba(129, 129, 129, 0.634);
    transition: box-shadow 0.2s ease-in-out, transform 0.3s ease-in-out, background-color 0.1s ease-in-out, opacity 1s ease-in-out;
    transition: transform 0.3s ease-in-out;
    width: 0px;
    height: 0px;
    color: inherit;
    text-decoration: none;
}

.out-now-mobile{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    transform: scale(0);
    background-color: rgba(23, 23, 23, 0.628);
    border: 4px solid rgba(129, 129, 129, 0.634);  
    transition: transform 0.3s ease-in-out, opacity 1s ease-in-out;
    width: 0px;
    height: 0px;
    color: inherit;
    text-decoration: none;
}

.bestie{
    color: rgb(175, 175, 175);
    font-size: 70px;
    letter-spacing: 10px;
    padding-top: 10px;
    transition: text-shadow 0.3s ease-in-out;
}

.out-now-mobile.shown{
    margin-right: -25vw;
    margin-bottom: -140px;
    height: fit-content;
    width: 570px;
    transition: transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
}

.out-now{
    font-size: 30px;
    color: rgba(45, 45, 45, 0.826);
    margin-top: -20px;
    text-align: end;
    margin-right: 15px;
    transition: color 0.5s ease-in-out;
}

.listen-button{
    display: flex;  
    background-color: rgba(23, 23, 23, 0.437);
    width: 400px; 
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 20px;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.listen-button:hover{
    background-color: rgba(67, 67, 67, 0.914);
    transform: scale(1.1);    
}

.listen-text{
    color: rgb(183, 183, 183);
    font-size: 50px;
    font-family: 'Yamaka';
    margin-bottom: 0px;
    letter-spacing: 5px;
    width: fit-content;
    transition: color 0.3s ease-in-out;
}

.listen-platforms{
    width: fit-content;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 5px;
}


.listen-platforms > img{
    height: 39px;
    margin-top: -5px;
}

.cover-out-now{
    width: 400px;
    border-radius: 20px;
}

.bestie-out-now > p{
    font-family: 'Yamaka';
    margin-bottom: 0px;
}

.out-now-container.shown{
    height: fit-content;
    margin-top: 12vh;
    width: 560px;
    transform: scale(1);
    transition: transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
}

.presave-container:hover{
    background-color: rgba(60, 60, 60, 0.797);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.501);
    transform: scale(1.7);
}

.out-now-container.shown:hover{
    background-color: rgba(0, 0, 0, 0.797);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.501);
    transform: scale(1.1);
    .bestie{
        text-shadow: 5px 5px rgba(60, 60, 60, 0.79);
    }
    .out-now{
        color: rgba(132, 132, 132, 0.737);
    }
    .listen-text{
        color: rgb(255, 255, 255);
    }
}

.presave-mobile{
    position: relative;
    right: 20px;
    width: 300px;
    height: fit-content;
    transform: scale(0);
    background-color: rgba(60, 60, 60, 0.797);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.501);
    margin: 0px 0px 20px 30%;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(129, 129, 129, 0.634);
    opacity: 0%;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out, margin 1s ease-in-out, width 2s ease-in-out;
}

.presave-mobile.hidden{
    transform: scale(0);
    width: 0px;
}

.presave-mobile-container{
    height: 100%; 
    display: flex;
    justify-content: end;
    align-items: end;
    width: 50%;
    transition: margin-left 1s ease-in-out;
}

.presave-button{
    width: 90%;
    height: 62px;
    display: flex;
    flex-direction: row;
    font-family: "Yamaka";
    font-size: 20px;
    letter-spacing: 3px;
    border-radius: 20px;
    text-decoration: none;
    color: rgba(45, 45, 45, 0.982);
    background-color: rgba(255, 255, 255, 0.797);
    transition: opacity 4s ease-in-out;
    margin-top: 20px;
    margin-bottom: 10px;
    transition: background-color 0.1s ease-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
}

.presave-button:hover{
    background-color: rgba(17, 172, 6, 0.797);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.501);
    color: rgb(226, 226, 226);
    text-shadow: 2px 2px rgb(42, 42, 42);
}

.presave-platforms{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-right: 10px;
}

.presave-platforms > img{
    height: 35px
}

.presave-text{
    padding-top: 1px;
    height: 100%;
}


.music-dropdown > a{
    width: 80%;
}

a > img{
    width: 100%;
}

#timer{
    margin: 0;
    color: rgba(59, 59, 59, 0.96);
    font-size: 27px;
    font-family: 'Yamaka';
    height: 35px;
    transition: font-size 0.3s ease-in-out, text-shadow 0.3s ease-in-out, color 1s ease-in-out, border-bottom 2s ease-in-out;
}

.music-dropdown{
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    gap: 20px;
    padding: 5px 0px 10px 0px;
    margin-right: 20px;
    max-height: 65px;
    width: 60px;
    background-color: rgba(33, 33, 33, 0.63);
    border-radius: 0px 0px 30px 30px;
    transition: max-height 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.social-media-upper{
    display: flex;
    gap: 10px;
    background-color: rgba(128, 128, 128, 0.5);
    height: 60px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-out;
    width: 0px;
}

body {
    background-image: url(./imges/Diseño\ sin\ título.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.social-media{
    display: flex;
    gap: 10px;
    margin-left: 20%;
    background-color: rgba(128, 128, 128, 0.5);
    width: 200px;
    height: 60px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-out, transform 0.3s ease-in-out;
    transform: scale(1.2);
}

.social-media:hover,.social-media-upper:hover{
    background-color: rgba(128, 128, 128, 0.916);
    box-shadow:  1px 1px 6px 6px rgba(0, 0, 0, 0.501);
}

.social-media:hover{
    transform: scale(1.4);
}

.social-media-container-bottom{
    display: flex; 
    width: 50%;
    align-items: end;
}

.social-media > a > img, .social-media-upper > a > img {
    height: 50px;
    transition: transform 0.3s ease-in-out;
}

.social-media,.social-media-upper > a > img:hover{
    transform: scale(1.2);
}

@media (max-width:1908px){
    .presave-container{
        transform: scale(1);
    }
    .presave-container:hover{
        transform: scale(1.2);
    }

    .out-now-container.shown{
        transform: scale(0.7);
    }

    .out-now-container.shown:hover{
        transform: scale(0.8);
    }
}

@media (max-width: 1344px){
    .presave-container{
        transform: scale(0);
        opacity: 0%;
    }

    .container1{
        width: 0px;
    }
    
    .presave-mobile{
        transform: scale(1);
        opacity: 100%;
    }

    .out-now-mobile.shown{
        transform: scale(0.5);
    }

    .social-media{
        width: 0px;
    }

    .social-media-upper{
        width: 200px;
    }
}

@media (min-width: 963px) {
    .music-dropdown:hover{
        .apple-music-dropdown,.deezer-dropdown,.soundcloud-dropdown,.youtube-dropdown{
            transform: scale(1);
        }
        max-height: 400px;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.501);
    }   
}

@media (max-width: 962px){    
    .presave-mobile{
        transform: scale(0.6);
        margin: 140px 0px 0px 0px;
    }

    .presave-mobile-container{
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .social-media-container-bottom{
        width: 0px;
        height: 0px;
    }

    .out-now-mobile.shown{
        transform: scale(0.3);
        margin: 0px 0px 60px 0px;
    }

    .social-media-upper{
        transform: scale(0.7);
    }

    .music-dropdown-container{
        width: 100%;
    }

    .apple-music-dropdown,.deezer-dropdown,.soundcloud-dropdown,.youtube-dropdown,.spotify-dropdown{
        transform: scale(0.8);
    }

    .music-dropdown{
        gap: 3px;
        margin-top: -34px;
        transform: scale(0.8);
        max-height: 350px;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.501);
    }

   
}